/* @import "./assets//css/variables.css"; */

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .logo{
    margin: 20px;
}

.inner_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    
}

.inner_container .security_logo{
    margin: 10px auto;
    width: 50px;
}

.inner_container .security_logo img{
    width: 100%;
}

.inner_container h2{
    font-family: var(--font_stack1);
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
}

.inner_container >p{
    text-align: center;
    font-size: 18px;
    font-family: var(--font_stack1);
    color: #121212;
    letter-spacing: 0.5px;
}

.form_grp{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    position: relative;
    margin:10px 0;
    border-radius: 5px;
}

.visibility{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #b0b0b0;
}

.form_grp input{
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;

}

.reset_btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    font-family: var(--font_stack1);
    border: none ;
    border-radius: 10px;
    cursor: pointer;
}

.reset_btn:hover{
    background-color:var(--button-onHover) ;
}

.inner_container a{
    text-decoration: none;
    cursor: pointer;
}

.inner_container a p{
    color: var(--primary-color);
    padding-top: 5px;
    text-align: center;
    font-family: var(--font_stack1);
}

.footer{
    margin-top: 80px;
}

.footer p{
    font-family: var(--font_stack1);
    color: #b0b0b0;
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
    
}

.footer p>span{
    color: var(--primary-color);
    
}

.error{
    color: red;
    text-align: left;
    font-style: italic;
    font-size: 15px;
}


